---
name: Home
title: Home
description: Hokitika garden centre supplying a quality flowering plants, trees, gardening supplies and expert advice to the West Coast for nearly 30 years. Open daily.
billboard:
  src: ./img/kakabeak-clianthus-flowers_Billboard.jpg
  alt: Kakabeak (Clianthus) flowers
---

{% extends "./base.html" %}

{% block head %}
<link href="https://www.southsidegardencentre.co.nz/" rel="canonical" />
{% endblock %}

{% block body %}
  <div class="col-md-9">
    <h2>Beautiful plants. Friendly service. Locally owned and operated.</h2>
    <p class="lead"><strong>Level 2</strong>: Shop open to public Saturday and Sunday, 10am—5pm. Monday—Friday only open for non-contact methods: please phone, email or contact us for availability and to place your order.</p>
    <p>For the best trees, plants, gardening supplies or expert advice, we're your West Coast garden centre and nursery. Located in Hokitika, we've been helping West Coast gardeners for nearly 30 years. How can we help you?</p>
    <p>With decades of West Coast gardening knowledge, we've got a wide range of plants, trees and shrubs that suit our unique West Coast environment.</p>
    <form id="enquiryForm">
      <fieldset>
        <div class="form-group">
          <label for="inputName">Name</label>
          <input required type="text" class="form-control" id="name" placeholder="Your name">
        </div>
        <div class="form-group">
          <label for="inputEmail">Email address</label>
          <input required type="email" class="form-control" id="email" placeholder="Your email">
        </div>
        <div class="form-group">
          <label for="messageInput">Message</label>
          <textarea required class="form-control" rows="3" id="message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" id="enquiryFormSubmit">
          <i class="fa fa-spinner fa-spin" style="display: none;"></i> Send enquiry
        </button>
      </fieldset>
    </form>
    <div id="enquiryFormComplete" class="hidden">
      <p class="bg-success lead">Thank you, your enquiry has been sent. We'll get back to you very soon!</p>
    </div>
  </div>
  <script>
    (function(enquiryForm, submitButton, completeMessage) {
      enquiryForm.addEventListener('submit', function(e) {
        e.preventDefault();
        enquiryForm.getElementsByTagName('fieldset')[0].setAttribute('disabled', '');
        submitButton.getElementsByTagName('i')[0].setAttribute('style', '')
        var message = {
          name: enquiryForm['name'].value,
          email: enquiryForm['email'].value,
          message: enquiryForm['message'].value
        };
        enquiryForm.setAttribute('class', '')
        sendEmail(message);
        return false;
      });
      
      function sendEmail(message) {
        var config = { 
          endpointUrl: 'https://0n3qh7qqj6.execute-api.us-east-1.amazonaws.com/prod/sendEmail'
        };
        var req = createCORSRequest('POST', config.endpointUrl);
        if (!req) {
          alert('Sorry, but we could not send your enquiry.')
        }
        req.onreadystatechange = function() {
          if (req.readyState == 4 && req.status == 200) {
            enquiryForm.setAttribute('class', 'hidden');
            completeMessage.setAttribute('class', '');
          }
        };
        req.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        req.send(JSON.stringify(message));
      }
      
      function createCORSRequest(method, url) {
        var xhr = new XMLHttpRequest();
        if ("withCredentials" in xhr) {
          xhr.open(method, url, true);
        } else if (typeof XDomainRequest != "undefined") {
          xhr = new XDomainRequest();
          xhr.open(method, url);
        } else {
          xhr = null;
        }
        return xhr;
      }
    })(document.getElementById('enquiryForm'), document.getElementById('enquiryFormSubmit'), document.getElementById('enquiryFormComplete'));
  </script>
{% endblock %}
