---
name: Landscaping Supplies
title: Soil, mulch &amp; compost
description: Landscaping supplies, compost, bark chip and more. Hokitika located, West Coast owned and operated. Open daily.
billboard:
  src: ./img/pile-of-compost_Billboard.jpg
  alt: Pile of Compost
---

{% extends "./base.html" %}

{% block body %}
<div class="col-md-9">
  <h2>Landscaping Supplies</h2>
  <p class="lead">For West Coast landscaping supplies, we've got you covered with bulk compost, bark chip and more.</p>
  <p>If you're looking for compost or bark chip in Hokitka, come in and see us. Our bulk bins and front-loading tractor mean you can spend more time building up your garden, and less time waiting around.</p>
  <div class="plant-info">
    <h3>Organic Compost</h3>
    <h4>Weed-free, high quality and available by the trailer load</h4>
    <div class="row">
      <div class="col-sm-4">
        <img src="./img/landscaping-supplies/pile-of-compost_ColumnImage.jpg" class="img-responsive">
      </div>
      <div class="col-sm-8">
        <p>Our bulk compost is high quality and weed-free, manufactured in Canterbury from waste organic products. Available by the trailer load, this compost is suitable for most garden applications.</p>
      </div>
    </div>
  </div>
  <div class="plant-info">
    <h3>Bark Chip</h3>
    <h4>Natural weed control and ground cover available by the trailer load</h4>
    <div class="row">
      <div class="col-sm-4">
        <img src="./img/landscaping-supplies/bark-chip_ColumnImage.jpg" class="img-responsive">
      </div>
      <div class="col-sm-8">
        <p>Bulk bark chip makes for fantastic weed control and is an all-natural ground cover. Available by the trailer load.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}