---
name: Plants
title: Plants, Trees and Shrubs
description: Quality fruit trees, vegetable and flowering plants and much more. Hokitika located, West Coast owned and operated. Open daily.
billboard:
  src: ./img/magnolia-flowers_Billboard.jpg
  alt: Magnolia Flowers
---

{% extends "./base.html" %}

{% block body %}
<div class="col-md-9">
  <h2>Plants</h2>
  <p class="lead">For plants that'll grow in your garden - like our range of quality New Zealand trees, vegetable and flowering plants - we're your West Coast garden centre.</p>
  <p>We only stock plants that'll grow in the unique West Coast conditions - plants that'll grow in your garden. So if you're planting in Hokitika or Hari-hari, Greymouth or Granity, or anywhere else, we've got the local knowledge to help you pick the right plants.</p>

  <div class="plant-info">
    <h3>Flowering Plants</h3>
    <h4>Flowering bedding plants provide fantastic colour in your garden throughout the year.</h4>
    <div class="row">
      <div class="col-sm-4">
        <img src="./img/plants/marigold-flowers_Tile.jpg" class="img-responsive">
      </div>
      <div class="col-sm-8">
        <p>Whether it be pansies for spring colour or marigolds and impatiens to brighten up your summer garden. Annual flowering plants are available in our garden centre throughout the year - with varieties varying according to the season.</p>
      </div>
    </div>
  </div>
  <div class="plant-info">
    <h3>Perennial Plants</h3>
    <h4>Year-on-year growth and flowering is what you get from our large range of perennials available all year, with the selection influenced by the season.</h4>
    <div class="row">
      <div class="col-sm-4">
        <img src="./img/plants/daisy-flowers_Tile.jpg" class="img-responsive">
      </div>
      <div class="col-sm-8">
        <p>Whether it be agapanthus for that dry bank, perennial petunias for the hanging basket, hellebores or heucheras for a shady spot in the garden - we stock the lot, depending on the season. Our greatest range is available in spring.</p>
      </div>
    </div>
  </div>
  <div class="plant-info">
    <h3>Shrubs</h3>
    <h4>We stock a great range of shrubs from low groundcovers to hedging plants and every size and shape in-between.</h4>
    <div class="row">
      <div class="col-sm-4">
        <img src="./img/plants/hebe-pinguifolia_Tile.jpg" class="img-responsive">
      </div>
      <div class="col-sm-8">
        <p>We stock shrubs for fragrance with boronias, daphne and wintersweet the most popular. Groundcover shrubs include rosemary for fragrance, grevilleas for attracting birds and helianthemum that dry bank.</p>
      </div>
    </div>
  </div>
  <div class="plant-info">
    <h3>Trees</h3>
    <h4>From hardy mountain species to salt tolerant coastal trees, we have the total range.</h4>
    <div class="row">
      <div class="col-sm-4">
        <img src="./img/plants/flowering-cherry-tree_Tile.jpg" alt="Flowering Cherry Tree" class="img-responsive">
      </div>
      <div class="col-sm-8">
        <p>Our selection of trees include a wide range of evergreen and deciduous varieties, suited for West Coast conditions. The selection varies, from starter grade for shelter and firewood, through to ready trees at wholesale prices.</p>
      </div>
    </div>
  </div>
  <div class="plant-info">
    <h3>New Zealand Native Plants</h3>
    <h4>For trees and plants from New Zealand, our range is comprehensive - from ferns to modern hybrids - we've got a New Zealand native plant for every situation.</h4>
    <div class="row">
      <div class="col-sm-4">
        <img src="./img/plants/kakabeak-clianthus-flowers_Tile.jpg" alt="Kakabeak (Clianthus) flowering tree" class="img-responsive">
      </div>
      <div class="col-sm-8">
        <p>Native plants have evolved to grow in our unique environment and will withstand most of the adverse conditions Mother Nature throws at them. They are perfect for sheltering your less hardy specimens and by creating pockets of native habitat for our native birds.</p>
      </div>
    </div>
  </div>
  <div class="plant-info">
    <h3>Vegetable Plants</h3>
    <h4>The fresh taste of home grown vegetables delivered daily to your table exactly at the right time of ripeness is not a dream! Our range is large and varies with the seasons.</h4>
    <div class="row">
      <div class="col-sm-4">
        <img src="./img/plants/broccoli.jpg" alt="Broccoli vegetable plant" class="img-responsive">
      </div>
      <div class="col-sm-8">
        <p>Plant seedlings ready for you or grow from seed, the choice is huge and yours. Plant them all!</p>
      </div>
    </div>
  </div>
  <div class="plant-info">
    <h3>Fruit Trees and Fruit Plants</h3>
    <h4>Enjoy home-grown tree-ripened fresh fruit from your own orchard. We've got the fruit trees and plants that'll make it happen.</h4>
    <div class="row">
      <div class="col-sm-4">
        <img src="./img/plants/red-apples-on-tree_Tile.jpg" alt="Red Apple Fruit Tree"class="img-responsive">
      </div>
      <div class="col-sm-8">
        <p>Having established our own orchard over many years we're well informed at advising you on the best options for your site and situation. And all our fruit trees arrive bare rooted in winter - which means you'll pay less than the big box stores!</p>
      </div>
    </div>
  </div>
  <div class="plant-info">
    <h3>Roses</h3>
    <h4>Choose from a fantastic range of colours, fragrances, flower sizes, shapes and growth habits.</h4>
    <div class="row">
      <div class="col-sm-4">
        <img src="./img/plants/yellow-rose_Tile.jpg" alt="Yellow Rose" class="img-responsive">
      </div>
      <div class="col-sm-8">
        <p>Our range is extensive: beautiful David Austin roses such as Graham Thomas or Pat Austin, or the hardy coastal tolerant rugosa roses - we stock the lot. For special occasions we have all the popular variaties: Compassion, Golden Jubilee, Congratulationsi and Loving Memory.</p>
      </div>
    </div>
  </div>
  <div class="plant-info">
    <h3>Rhododendrons</h3>
    <h4>Beautiful flowering in your garden throughout spring - West Coast conditions provide the perfect enviroment for rhododendrons.</h4>
    <div class="row">
      <div class="col-sm-4">
        <img src="./img/plants/rhododendron_Tile.jpg" alt="hododendron" class="img-responsive">
      </div>
      <div class="col-sm-8">
        <p>West Coast conditions are ideal for rhododendrons, our acidic moist soil makes them an easy growing must in every garden.</p>
      </div>
    </div>
  </div>
  <div class="plant-info">
    <h3>Camellias</h3>
    <h4>Our range of Camellias is wide, with just about every shape and colour flower on evergreen bushy shrubs</h4>
    <div class="row">
      <div class="col-sm-4">
        <img src="./img/plants/camelia-plant_Tile.jpg" alt="Camellia Plant" class="img-responsive">
      </div>
      <div class="col-sm-8">
        <p>Excellent for hedging, or as a specimen. Pick the fantastic blooms that are produced in abundance from early winter through to late spring.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}