---
name: Saturday in the Garden
title: Saturday in the Garden
description: Gardening guides, info and interesting ideas for local West Coast conditions. Bought to you by Warren Montagu.
billboard:
  src: ./img/saturday-in-the-garden/fruit-tree-blossoms_Billboard.jpg
  alt: Fruit tree blossoms
---

{% extends "./base.html" %}

{% block body %}
  <div class="col-md-9">
    <h2>Saturday in the Garden</h2>
    <p class="lead">Join Warren for gardening how-to's, info and interesting ideas to help you get the most out of your gardening efforts</p>
    <p>Saturday in the Garden was a weekly gardening program that ran on the radio for 10 years on Classic Hits. Moving into the digital age, Saturday in the Garden now continues as a gardening blog.</p>

    <h4>Blog-posts coming soon...</h4>
  </div>
{% endblock %}